.card {
  width: 100%;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
  transition: filter 300ms;
}

.card:hover {
  filter: drop-shadow(0 0 2em lightgreen);
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: rgb(246, 246, 246);
  border-radius: inherit;
  box-shadow: inherit;
}
